{% extends 'admin/index.html.twig' %}

{% block body %}
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            {% block aside %}
                {{ parent() }}
            {% endblock %}
            <!-- / Menu -->

            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                {% block navbar %}
                    {{ parent() }}
                {% endblock %}
                <!-- / Navbar -->

                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <!-- Basic Bootstrap Table -->
                        <div class="card">
                            <h5 class="card-header">Client List</h5>
                            <div class="table-responsive text-nowrap">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Email</th>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0">
                                    {% for r in reservation %}
                                        <tr>
                                            <td>{{ r.id }}</td>
                                            <td>{{ r.user.name }}</td> <!-- This assumes the 'user' property exists in the 'Reservation' entity -->
                                            <td>{{ r.dateTime }}</td>
                                            <td>{{ r.duration }}</td>
                                            <td>{{ r.pet.name }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="6">No clients found.</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <!--/ Basic Bootstrap Table -->

                    </div>
                    <!-- / Content -->
                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
{% endblock %}
